on: [pull_request]

name: Continuous integration

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - uses: actions-rs/cargo@v1
        with:
          command: check

  test_nightly:
      name: Nightly tests std
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions-rs/toolchain@v1
          with:
            profile: minimal
        - uses: actions-rs/cargo@v1
          with:
            command: test
            args: --release

  build_nightly_nostd:
      name: Nightly build no_std
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions-rs/toolchain@v1
          with:
            profile: minimal  
        # ARM contains no std lib. Just core and alloc.
        - run: rustup target add thumbv6m-none-eabi
        - uses: actions-rs/cargo@v1
          with:
            command: build
            args: --release --no-default-features --target thumbv6m-none-eabi
  
  test_nightly_canon_feature:
      name: Nightly tests canon
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions-rs/toolchain@v1
          with:
            profile: minimal
        - uses: actions-rs/cargo@v1
          with:
            command: test
            args: --release --no-default-features --features canon

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2020-10-25
          override: true
          components: rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
